.checkbox-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .done {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 20px;
    color: #ffffff;
  }

  .box {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #DFDFDF;

    &.checked {
      border: 0;
      background-color: #F7CA13;
    }

    &.none {
      
    }
  }
}