.make-room-wrapper {
  display: grid;
  grid-template-rows: 100px minmax(0, 1fr) 100px;
  height: 100%;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;

    .header-text {
      font-size: 20px;
      color: #B2B2B2;
      padding: 0 15px;
    }

    .close-make {
      align-self: flex-start;
      color: #DFDFDF;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 25px;

    .friend {
      font-size: 12px;
      color: #7F7F7F;
    }

    .user-wrapper {
      display: grid;
      grid-template-columns: 50px 1fr 50px;

      .dummy-image-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: #94BFE7;
        border-radius: 20px;

        .person {
          color: #ffffff;
        }
      }

      .user-name {
        display: flex;
        align-items: center;
        padding: 0 15px;
      }

      .box-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    border-top: 1px solid #E6E6E6;
    padding: 0 20px;

    .button-apply {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 82px;
      height: 42px;
      background-color: #FADA0A;

      &.disabled {
        color: #b3b3b3;
        background-color: #f2f2f2;
      }

      
    }

    .button-cancel {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #E6E6E6;
      width: 80px;
      height: 40px;
    }

  }
}