.room-wrapper {
  display: grid;
  grid-template-rows: 50px minmax(0, 1fr);
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    .title {
      font-size: 20px;
      font-weight: bold;
    }

    .icon-area {
      display: flex;

      .material-icons {
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
  
        &.search {
          font-size: 22px;
        }
  
        &.plus {
          font-size: 24px;
        }
      }
    }
    
  }

  .content {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    gap: 20px;

    .room {
      display: grid;
      grid-template-columns: 50px minmax(0, 1fr);

      .user-image {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
      }

      .user-info {
        display: flex;
        flex-direction: column;
        gap: 1px;

        .top {
          padding: 0 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .name {
            font-size: 15px;
            font-weight: bold;
          }

          .time {
            font-size: 10px;
            color: #BFBFBF;
          }
        }
        .content {
          display: block;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis; 
          white-space:nowrap;
          padding: 0 10px;
          color: #737373;
        }
      }
    }

  }
}